
PDTIC-2018-2020/18_20_alles.odt
PDTIC-2018-2020/PDTIC 2018-2020.docx
PDTIC-2018-2020/pdtic-minc_PDTIC_2018_2020.md at master · culturagovbr_pdtic-minc · GitHub.pdf
PDTIC-2018-2020/referencias/Plano de Gestão de Pessoas PDTIC 18-20.docx
PDTIC-2018-2020/referencias/projetos_export_csv.xlsx
PDTIC-2018-2020/referencias/projetos_2015_2017.ods
PDTIC-2018-2020/referencias/Planilha de capacitação CGTEC Específica de TIC - 2018-2020.xlsx
PDTIC-2018-2020/referencias/objetivos estrategicos.csv
